In [36]:
import pandas as pd
import numpy as np

In [6]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
#number of rows and columns
df.shape

(9704, 11)

In [ ]:
#number of rows
len(df)

9704

In [11]:
# See all unique fuel types
df["fuel_type"].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [12]:
# Count how many different fuel types
df["fuel_type"].nunique()

2

In [14]:
# Count missing values in each column
print(df.isnull().sum())

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [15]:
# Total number of missing values in the dataset
print("Total missing values:", df.isnull().sum().sum())

Total missing values: 2622

In [16]:
# Percentage of missing values per column
print((df.isnull().mean() * 100).round(2))

engine_displacement    0.00
num_cylinders          4.97
horsepower             7.30
vehicle_weight         0.00
acceleration           9.58
model_year             0.00
origin                 0.00
fuel_type              0.00
drivetrain             0.00
num_doors              5.17
fuel_efficiency_mpg    0.00
dtype: float64

In [17]:
# Посмотреть максимальное значение в колонке fuel efficiency
max_eff = df["fuel_efficiency_mpg"].max()
print("Max fuel efficiency:", max_eff)

Max fuel efficiency: 25.96722204888372

In [20]:
#What's the maximum fuel efficiency of cars from Asia?

#Чтобы найти максимальную топливную эффективность (fuel_efficiency_mpg) для машин из Азии, 
# можно отфильтровать данные по колонке origin и 
# взять максимум по fuel_efficiency_mpg.

# Фильтруем машины из Азии
asia_cars = df[df["origin"] == "Asia"]

In [22]:
# Находим максимальную топливную эффективность
max_eff_asia = asia_cars["fuel_efficiency_mpg"].max()

print("Maximum fuel efficiency for cars from Asia:", max_eff_asia)

Maximum fuel efficiency for cars from Asia: 23.759122836520497

In [23]:
#Найдём медиану horsepower до заполнения пропусков:
median_before = df["horsepower"].median()
print("Median before filling missing values:", median_before)

Median before filling missing values: 149.0

In [24]:
#Найдём самое частое значение (моду) horsepower:
most_frequent_hp = df["horsepower"].mode()[0]
print("Most frequent horsepower value:", most_frequent_hp)

Most frequent horsepower value: 152.0

In [26]:
#Заполним пропуски этим значением:
df["horsepower"] = df["horsepower"].fillna(most_frequent_hp)

In [27]:
#Вычислим медиану после заполнения:
median_after = df["horsepower"].median()
print("Median after filling missing values:", median_after)

Median after filling missing values: 152.0

In [28]:
#COMPARE THE MEDIANS BEFORE AND AFTER: 

if median_after > median_before:
    print("Yes, it increased")
elif median_after < median_before:
    print("Yes, it decreased")
else:
    print("No")

Yes, it increased

Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [29]:
#Select all the cars from Asia
#Select only columns vehicle_weight and model_year
#Select the first 7 values
X_df = df[df["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7)

In [30]:
#Get the underlying NumPy array. Let's call it X.
X = X_df.to_numpy()

In [31]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X  # @ — это матричное умножение

In [37]:
#INVERT XTX
XTX_inv = np.linalg.inv(XTX)

In [38]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [40]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y

In [ ]:
#What's the sum of all the elements of the result?
sum_w = w.sum()
print("Sum of all elements in w:", sum_w)

Sum of all elements in w: 0.5187709081074016

Bad pipe message: %s [b'"Chromium";v="140", "Not=A?Brand";v="24", "Google Chrome"']
Bad pipe message: %s [b'="140"\r\nsec-ch-ua-mobile: ?0\r\nsec-ch-ua-platform: "macOS"\r']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Chromium";v="140", "Not=A?Brand";v="24", "Google Chrome";v="140"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "macOS"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_', b' AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0', b' Safari/537.36\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Chromium";v="140", "Not=A?Brand";v="24", "Google Chrome";v="140"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "macOS"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_', b' AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0', b' Safari/537.36\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Chromium";v="140", "Not=A?Brand";v="24", "Google Chrome";v="140"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "macOS"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_', b' AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0', b' Safari/537.36\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']
Bad pipe message: %s [b'ol: max-age=0\r\nsec-ch-ua: "Chromium";v="140", "Not=A?Brand";v="24", "Google Chrome";v="140"\r\nsec-ch-ua-mobile: ?0\r\n']
Bad pipe message: %s [b'c-ch-ua-platform: "macOS"\r\nUpgrade-Insecure-Requests: 1\r\nUser-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_', b' AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0', b' Safari/537.36\r\nAccept: text/html,application']
Bad pipe message: %s [b'html+xml,application/xml;q=0.9,image/avif,imag']